<form>
    <h2>Registration Form</h2><br>
    <label class="form-label">First Name</label><input class="form-control" type="text" name="name" placeholder="Enter a first Name"><br/>
    <label class="form-label">Last Name</label><input class="form-control" type="text" name="lastname" placeholder="Enter a Last Name"><br/>
    <label class="form-label">EmailId</label><input class="form-control" type="email" name="email" placeholder="Enter a EmailId"><br/>
    <label class="form-label">Phone Number</label><input class="form-control" type="number" name="phno" placeholder="Enter a Phone Number"><br/>
    <label class="form-label">Password</label><input class="form-control" type="password" name="pass" placeholder="Enter a Password"><br/>
    <label class="form-label">Confirm Password</label><input class="form-control" type="password" name="cnfpass" placeholder="Re-Enter Password"><br/>
    <label>Gender</label><select class="form-label"><option>Select Gender</option>
        <option>
            Male
        </option>
        <option>Female</option>
    </select><br/>
    <input class="btn btn-success" type="submit" value="Register" /><input class="btn btn-danger" type="reset" value="Cancel" />
</form>