<!-- <h1>Hello World</h1>
<input type="text" />
<button class="btn btn-success">Ok</button>
<p>{{title}}</p>
<p>{{x}}</p>
<ul>
    <li *ngFor="let i of x">
        {{i}}
    </li>
    <div *ngIf="isLogin; else my">
        <p>You are logged in</p>
    </div>
    <ng-template #my>
        <p>You are not logged in</p>
    </ng-template>
</ul> -->
<div class="row">
    <div class="col-md-4">
        <app-login></app-login>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <app-register></app-register>
    </div>
</div>